
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f5f7f7;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

.header {
	background: #fff;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	width: 65em;
	margin: 0 auto;
}

.header__section {
	display: flex;
	align-items: center;
	padding: 0 0.78125%;
}

.header__logo h1 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	line-height: 1.1;
	margin: 10px 0;
	text-transform: uppercase;
}

.container {
	max-width: 65em;
	margin: 0 auto;
}

.container:after,
.pokemons:after {
	content: "";
	display: table;
	clear: both;
}

.main {
	margin-top: 25px;
}

.pokemons-loading {
	background: rgba(0, 0, 0, .9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.pokemon {
	background-color: #fff;
	border: 1px solid #e7edf1;
	border-radius: 5px;
	display: block;
	float: left;
	position: relative;
	margin: 0 0.78125% 1.5625%;
	width: 23.4375%;
	text-align: center;
	overflow: hidden;
}

.pokemon__sprite {
	margin: 0;
	padding: 25px 0;
}

.pokemon__sprite img {
	vertical-align: middle;
}

.pokemon__content {
	margin: 25px 0;
}

.pokemon__id,
.pokemon__name {
	margin: 0;
}

.pokemon__id {
	color: #c2c2c2;
	font-size: 14px;
}

.pokemon__name {
	color: #2a3c4b;
	font-size: 16px;
}

.pokemon__search {
	margin: 0 15px;
}

.pokemon__search-textfield {
	padding: 7px 10px;
	background: #f5f7f7;
	border-radius: 3px;
	font-size: 14px;
	border: 1px solid #efecec;
	width: 200px;
}

.pokemon__search-textfield:hover,
.pokemon__search-textfield:focus {
	outline: 0;
}

.pokeball,
.pokeball__button {
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.pokeball {
	background-color: #e62e34;
	display: inline-block;
	border: 8px solid #343434;
	width: 150px;
	height: 150px;
	animation: 3s scale infinite ease-in-out;
	-webkit-animation: 3s scale infinite ease-in-out;
	margin-left: -75px;
	margin-top: -75px;
	box-shadow: inset 0 -97px 0 -40px #fff, inset 0 -102px 0 -35px #343434;
	transform: none;
	-webkit-transform: none;
}

.pokeball__button {
	background: #cecece;
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	box-shadow: 0 0 0 8px #eee, 0 0 0 16px #343434;
}

@media screen and (max-width: 768px) {
	.pokemon {
		width: 48.4375%;
	}
}

@-webkit-keyframes scale {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(15);
		transform: scale(15);
	}
}

@keyframes scale {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(15);
		transform: scale(15);
	}
}
